.subscribe__form {
  background: #FFFFFF;
  border-radius: 100px;
  margin: 0 auto;
  max-width: 700px;
  z-index: 1;
  position: relative;

}

.subscribe__form-label {
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 8px 31px;
  align-items: center;
  border-radius: 100px;
  background: #FFFFFF;
  box-shadow: 0px 8px 20px -30px rgba(151, 109, 0, 0.08);

}

.subscribe__form-input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-weight: 600;
  font-size: 20px;
  color: rgba(87, 87, 87, 1);

  &::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(87, 87, 87, 0.7);
  }
} 